/* General body styling */
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #090909; /* Keep the dark background as in the logo */
  color: white; /* White text to stand out on the dark background */
  font-family: 'Arial', sans-serif; /* Or choose a font that matches your logo's style */
}

/* Header styling */
.header {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #2e2e2e;
  display: flex;
  justify-content: space-between; /* This will push the nav items to the right */
  align-items: center;
  height: 6rem; /* Adjust the height as needed */
}



.mtogo-image {
  width: auto;
  height: 6.2rem;
}



/* Header list items fill the entire height and align the link text vertically */
.header li {
  height: 100%; /* Make the <li> fill the header height */
  display: flex; /* Use flex to vertically center the link text */
  align-items: center; /* Vertically center the content of the <li> */
}

/* Full-width hover effect */
.header li a {
  display: flex; /* Make the <a> tag a flex container */
  align-items: center; /* Center the text vertically */
  color: #ffffff;
  text-decoration: none;
  padding: 0 15px; /* Adjust the padding as needed */
  height: 100%; /* Make the <a> tag fill the <li> height */
  box-sizing: border-box; /* Ensures padding is included in height calculation */
  width: 7rem;
  justify-content: center;
}

.header li a:hover, .header li a.active {
  background-color: #c0a25e; /* Gold color for hover and active state */
  color: black;
}

/* Push the search to the right */
.frontpage-nav {
  margin-left: auto;
}

/* Align right items */
.align-right {
  display: flex;
  align-items: center;
}

/* Icons from FontAwesome */
.faUser, .faSearch, .faShoppingCart {
  margin-left: 5px;
  color: #efe494; /* Icons color matched to the gold color of the logo */
}

.align-right {
  float: none;
  margin-left: auto;
}

/* For mobile responsiveness */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
  }

  .header a {
    padding: 10px 0;
  }

  .mtogo-letter {
    font-size: smaller;
  }
}

/* Container for the login area */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* This will take the full height of the viewport */
  background-color: #090909; /* Background color to match the body */
}

/* Styling for the login form */
.login-form {
  background: #2e2e2e; /* Background color to match the header */
  padding: 40px;
  border-radius: 8px;
}

/* Styling for input fields */
.login-form input {
  width: 100%; /* Full width of the form */
  padding: 10px;
  margin-bottom: 20px; /* Space between the fields */
  border: 1px solid #333;
  border-radius: 4px;
  background-color: #fff; /* White background for the inputs */
  color: #333; /* Dark text for contrast */
}

/* Styling for the login button */
.login-form button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #efe494; /* Gold color to match the logo */
  color: black;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #c0a25e; /* Slightly darker gold on hover */
}
